# Windows system files
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/

# Windows installer files
*.cab
*.msi
*.msix
*.msm
*.msp

# Windows shortcuts
*.lnk

# VS Code
.vscode/

# Logs
*.log

# Temporary files
*.tmp
*.bak

# Proxmox backups (if ever exported)
*.vma
*.zst

# ISO images
*.iso
